In [ ]:
from dash import Dash, html
import dash_cytoscape as cyto

app = Dash(__name__)

app.layout = html.Div([
    cyto.Cytoscape(
        id='cytoscape-two-nodes',
        layout={'name': 'preset'},
        style={'width': '100%', 'height': '400px'},
        elements=[
            {'data': {'id': 'one', 'label': 'Node 1'}, 'position': {'x': 75, 'y': 75}},
            {'data': {'id': 'two', 'label': 'Node 2'}, 'position': {'x': 200, 'y': 200}},
            {'data': {'source': 'one', 'target': 'two'}}
        ]
    )
])

if __name__ == '__main__':
    app.run(debug=True)

In [9]:
from pyvis.network import Network
import networkx as nx

nx_graph = nx.cycle_graph(10)
nx_graph.nodes[1]['title'] = 'Number 1'
nx_graph.nodes[1]['group'] = 1
nx_graph.nodes[3]['title'] = 'I belong to a different group!'
nx_graph.nodes[3]['group'] = 10
nx_graph.add_node(20, size=20, title='couple', group=2)
nx_graph.add_node(21, size=15, title='couple', group=2)
nx_graph.add_edge(20, 21, weight=5)
nx_graph.add_node(25, size=25, label='lonely', title='lonely node', group=3)
nt = Network('500px', '500px')
#pulates the nodes and edges data structures
result = nt.from_nx(nx_graph)
nt.show('nx.html', notebook=False)

nx.html

In [1]:
from pyvis.network import Network
import pandas as pd

got_data = pd.read_csv("/projects/genomic-ml/da2343/ml_project_1/model_stw/network_viz/got-edges.csv")

In [4]:
got_data

      Source       Target  Weight
0      Aemon        Grenn       5
1      Aemon      Samwell      31
2      Aerys        Jaime      18
3      Aerys       Robert       6
4      Aerys       Tyrion       5
..       ...          ...     ...
347   Walder        Petyr       6
348   Walder       Roslin       6
349   Walton        Jaime      10
350  Ygritte       Qhorin       7
351  Ygritte  Rattleshirt       9

[352 rows x 3 columns]

In [20]:


got_net = Network(height="60vh", 
                  width="100%", 
                  bgcolor="#222222", 
                  font_color="white",
                  select_menu=True,
                  filter_menu = True,
                  cdn_resources = "in_line",
                  )

# set the physics layout of the network
got_net.barnes_hut()


sources = got_data['Source']
targets = got_data['Target']
weights = got_data['Weight']

edge_data = zip(sources, targets, weights)

for e in edge_data:
    src = e[0]
    dst = e[1]
    w = e[2]

    got_net.add_node(src, src, title=src, color= "red", size=20)
    got_net.add_node(dst, dst, title=dst, color= "blue", size=10)
    got_net.add_edge(src, dst, value=w , color="green", weight=.87 )

neighbor_map = got_net.get_adj_list()

# add neighbor data to node hover data
for node in got_net.nodes:
    # node["title"] += " Neighbors:<br>" + "<br>".join(neighbor_map[node["id"]])
    node["value"] = len(neighbor_map[node["id"]])

got_net.show_buttons(filter_=['physics'])
# rewrite show buttons and change the position of the buttons
got_net.show("gameofthrones.html", notebook=False)

gameofthrones.html

In [15]:
got_data = got_data[got_data['weight'] > 0.8]
# change the integer values from columns source and target to string values
got_data['source'] = got_data['source'].astype(str)
got_data['target'] = got_data['target'].astype(str)

got_data

       source target    weight
12          5      2  0.971559
122        16      2  0.944555
125        16      5  0.941674
127        16      7  0.800834
173        19      2  0.972440
...       ...    ...       ...
848726   1305   1075  1.000000
848766   1305   1119  1.000000
848860   1305   1235  1.000000
848868   1305   1250  1.000000
848882   1305   1279  1.000000

[25318 rows x 3 columns]