In [40]:
import pandas as pd
import numpy as np

CV = 5
TOP_COLS = 30 - 1
TOP_GRPS = 4

## HMPv13_otu_table

In [47]:
# Project ID : 1928
# Subject ID: SRS 
# Experiment ID: SRX
# Run ID: SRR

df = pd.read_csv('/projects/genomic-ml/da2343/ml_project_1/data/microbe_ds/HMPv13_otu_table.csv').T
#df = pd.read_csv('/projects/genomic-ml/da2343/ml_project_1/data/microbe_ds/HMPv35_otu_table.csv').T
# Convert the index to a series and split it
id_df = df.index.to_series().str.split('.', expand=True)
# Rename the columns as per your requirement
id_df.columns = ['Project_ID', 'SRS_ID', 'SRX_ID', 'SRR_ID']
# Now 'id_df' has the separate columns. You can join this back to your original DataFrame if needed
# join infront of the df
df = df.join(id_df).reset_index(drop=True)
df = df.sort_values('SRX_ID')
# drop the columns that are not needed
df = df.drop(['Project_ID', 'SRS_ID', 'SRR_ID'], axis=1)
# rename the SRX_ID column to Sample_ID
df = df.rename(columns={'SRX_ID': 'Group_ID'}).reset_index(drop=True)

# give the group ID a number each
df['Group_ID'] = (pd.factorize(df['Group_ID'])[0] + 1)

# drop the Group_ID column
# df = df.drop(['Group_ID'], axis=1)
# df = np.log(df + 1)
# df.to_csv('/projects/genomic-ml/da2343/ml_project_1/data/microbe_ds/HMPv13_otu_table_log.csv')
df

,4213913,4330849,4400869,4457085,4358020,607045,290144,4440970,401717,39443,...,199091,368261,2123717,198945,302494,191112,174415,573110,1868703,Group_ID
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3280,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,71
3281,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,71
3282,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,71
3283,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,71
3284,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,71

In [48]:
df['Group_ID'] = df['Group_ID'].astype(int)
df = df[df['Group_ID'] <= TOP_GRPS]

column_sums = df.sum(axis=0).sort_values(ascending=False)
top_20_columns = column_sums.head(TOP_COLS).index
df_selected = df[top_20_columns]
df_selected = np.log10(df_selected + 1)
df_selected['Group_ID'] = df['Group_ID']
df_selected

,373689,128300,910500,1051669,4396235,4344943,911808,4455250,1116384,530164,...,185888,1082539,950828,863124,444649,3506872,4328910,562992,894045,Group_ID
0,0.000000,0.0,2.689309,2.577492,1.939519,1.968483,2.665581,3.058046,0.000000,1.342423,...,0.000000,1.342423,1.653213,2.158362,0.000000,0.845098,1.113943,0.778151,1.591065,1
1,0.000000,0.0,1.716003,2.089905,2.776701,1.322219,2.652246,2.178977,0.301030,2.075547,...,0.000000,0.845098,1.462398,2.110590,0.000000,2.367356,1.857332,1.176091,1.812913,1
2,0.000000,0.0,0.477121,0.845098,2.736397,1.518514,1.204120,1.826075,0.602060,1.863323,...,0.845098,0.000000,0.698970,2.220108,0.000000,1.681241,1.447158,1.934498,1.255273,1
3,3.266937,0.0,0.000000,0.000000,0.000000,0.000000,0.301030,0.778151,0.778151,0.000000,...,0.000000,0.000000,0.301030,0.000000,1.380211,0.000000,0.000000,0.000000,0.301030,1
4,0.000000,0.0,0.778151,0.477121,2.110590,0.954243,1.278754,1.113943,0.000000,1.477121,...,0.301030,0.000000,0.845098,1.204120,0.000000,1.176091,0.903090,0.301030,0.903090,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4
154,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.301030,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4
155,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4
156,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4
157,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4

In [49]:
# First, find the minimum group size
min_group_size = df_selected['Group_ID'].value_counts().min()
# but min_group_size should be a multiple of the cv constant which is 5
min_group_size = min_group_size - (min_group_size % CV)
# Now, use groupby and sample to get equal-sized samples from each group
equal_samples_df = df_selected.groupby('Group_ID').apply(lambda x: x.sample(min_group_size)).reset_index(drop=True)
equal_samples_df

,373689,128300,910500,1051669,4396235,4344943,911808,4455250,1116384,530164,...,185888,1082539,950828,863124,444649,3506872,4328910,562992,894045,Group_ID
0,0.000000,0.000000,1.716003,2.089905,2.776701,1.322219,2.652246,2.178977,0.301030,2.075547,...,0.000000,0.845098,1.462398,2.110590,0.000000,2.367356,1.857332,1.176091,1.812913,1
1,0.000000,0.000000,0.845098,0.903090,0.477121,2.822168,1.568202,1.204120,0.000000,0.000000,...,0.000000,2.589950,2.845098,0.301030,0.000000,0.000000,0.301030,2.806180,0.000000,1
2,0.000000,0.000000,1.000000,2.374748,1.763428,1.255273,2.029384,2.897627,0.301030,1.672098,...,0.000000,0.301030,0.602060,0.477121,0.000000,1.146128,0.954243,0.845098,0.845098,1
3,0.000000,0.000000,0.954243,1.255273,1.806180,1.176091,1.079181,1.531479,1.079181,1.579784,...,0.000000,0.903090,1.397940,0.845098,0.000000,1.491362,1.690196,0.778151,1.361728,1
4,0.000000,0.000000,0.778151,0.477121,2.110590,0.954243,1.278754,1.113943,0.000000,1.477121,...,0.301030,0.000000,0.845098,1.204120,0.000000,1.176091,0.903090,0.301030,0.903090,1
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.301030,0.000000,0.000000,...,3.077368,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1
6,2.290035,0.000000,0.000000,0.000000,0.778151,0.000000,0.301030,0.301030,0.477121,0.000000,...,0.000000,0.000000,0.301030,0.000000,2.468347,0.000000,0.000000,0.301030,0.000000,1
7,0.000000,0.000000,0.903090,1.255273,2.307496,1.662758,1.653213,2.238046,0.477121,1.623249,...,0.000000,0.477121,1.380211,1.799341,0.000000,1.690196,1.716003,1.146128,1.770852,1
8,3.347720,0.000000,0.954243,1.301030,1.322219,0.000000,1.531479,1.662758,1.579784,0.000000,...,0.000000,1.322219,0.778151,0.000000,1.973128,1.041393,0.000000,0.000000,1.230449,1
9,0.000000,0.000000,2.556303,3.369772,1.462398,1.770852,2.681241,3.527630,0.000000,1.204120,...,0.000000,2.004321,2.313867,0.301030,0.000000,1.361728,1.672098,1.146128,1.041393,1
10,0.000000,0.000000,1.079181,1.672098,1.414973,0.301030,0.845098,2.390935,0.000000,0.602060,...,0.000000,0.000000,0.477121,1.000000,0.000000,1.579784,1.204120,0.477121,1.176091,1
11,2.518514,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.301030,0.778151,0.000000,...,1.079181,0.000000,0.000000,0.000000,0.698970,0.000000,0.000000,0.000000,0.000000,1
12,0.000000,0.000000,0.301030,0.301030,2.958564,1.041393,1.079181,0.903090,0.000000,1.342423,...,0.000000,0.301030,0.602060,2.096910,0.000000,2.274158,1.301030,0.602060,1.079181,1
13,0.000000,0.000000,0.477121,0.778151,2.204120,2.385606,1.612784,1.643453,0.778151,2.214844,...,0.000000,0.000000,1.361728,1.462398,0.000000,1.785330,1.924279,1.491362,1.041393,1
14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,3.249443,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1
15,0.000000,0.301030,2.795880,2.045323,2.631444,1.672098,2.130334,2.301030,0.477121,2.507856,...,0.000000,1.146128,1.623249,1.968483,0.000000,1.949390,2.539076,1.505150,2.107210,2
16,0.477121,0.000000,1.690196,3.147985,0.301030,1.176091,2.269513,2.068186,0.903090,0.477121,...,0.000000,2.060698,0.301030,0.778151,0.000000,0.000000,0.301030,0.000000,0.698970,2
17,0.301030,3.685383,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2
18,0.000000,0.301030,1.000000,0.477121,2.942504,1.000000,1.724276,0.477121,0.477121,2.613842,...,0.000000,0.000000,0.477121,1.716003,0.000000,2.421604,2.693727,0.301030,1.892095,2
19,0.000000,0.000000,0.000000,0.845098,1.322219,0.477121,1.380211,1.748188,0.000000,1.000000,...,0.000000,0.845098,0.301030,0.778151,0.000000,0.602060,0.477121,0.000000,1.113943,2
20,0.000000,3.853272,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2
21,0.000000,0.301030,0.477121,0.698970,1.301030,1.000000,0.698970,0.000000,0.000000,1.653213,...,0.000000,0.477121,0.000000,1.041393,0.000000,0.000000,1.041393,0.000000,0.845098,2
22,0.000000,3.686368,0.000000,0.000000,0.000000,0.000000,0.301030,0.000000,0.477121,0.000000,...,0.000000,0.602060,0.000000,0.698970,0.000000,0.000000,0.000000,0.000000,0.301030,2
23,0.000000,0.301030,2.346353,1.505150,1.230449,0.954243,2.605305,2.103804,0.000000,2.301030,...,0.000000,0.845098,0.301030,1.000000,0.000000,1.041393,1.544068,0.778151,1.544068,2
24,1.982271,1.278754,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.296665,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2
25,0.000000,0.477121,0.301030,0.301030,2.645422,0.000000,1.623249,0.000000,0.000000,2.679428,...,0.000000,0.301030,0.000000,2.404834,0.000000,1.716003,2.257679,0.000000,1.755875,2
26,0.000000,0.000000,2.440909,3.026533,1.380211,2.620136,2.352183,1.505150,1.579784,2.365488,...,0.000000,1.748188,0.000000,1.414973,0.000000,0.000000,1.204120,0.301030,1.643453,2
27,0.301030,0.000000,1.662758,0.903090,0.000000,1.146128,0.000000,1.361728,0.477121,0.954243,...,0.000000,0.301030,0.000000,1.278754,0.000000,2.068186,1.204120,0.000000,1.176091,2
28,0.000000,0.000000,0.000000,2.489958,0.000000,1.819544,1.079181,0.602060,0.000000,1.301030,...,0.000000,1.361728,0.000000,0.301030,0.000000,0.000000,0.301030,0.903090,0.000000,2
29,0.301030,0.000000,1.763428,1.278754,3.298416,0.954243,2.307496,1.176091,0.000000,2.758912,...,0.000000,0.778151,0.778151,2.238046,0.000000,1.113943,2.285557,0.602060,1.819544,2
30,2.937518,0.000000,1.740363,1.977724,0.000000,0.000000,2.167317,1.113943,2.120574,0.000000,...,0.000000,0.000000,0.000000,0.000000,2.292256,0.000000,0.000000,0.000000,0.000000,3
31,0.845098,0.000000,0.000000,0.301030,0.000000,0.000000,0.301030,0.301030,1.361728,0.000000,...,2.495544,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3
32,2.409933,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.682145,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3
33,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.633468,0.000000,2.806858,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3
34,2.086360,0.000000,0.000000,0.000000,0.000000,0.000000,1.278754,0.477121,2.623249,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3
35,2.075547,0.000000,1.230449,0.602060,0.000000,0.301030,0.845098,1.414973,2.086360,0.000000,...,0.000000,0.000000,1.397940,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3
36,1.602060,0.000000,1.431364,0.477121,0.000000,0.000000,0.000000,0.000000,2.238046,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.698970,0.000000,0.000000,0.000000,0.000000,3
37,1.913814,0.000000,1.880814,1.806180,2.033424,0.000000,1.662758,1.556303,1.875061,1.477121,...,0.000000,1.000000,0.602060,1.812913,0.778151,0.000000,1.579784,0.000000,2.029384,3
38,1.770852,0.000000,1.903090,0.477121,0.000000,0.000000,0.477121,0.000000,2.796574,0.000000,...,0.000000,1.770852,0.000000,0.000000,1.602060,0.000000,0.000000,0.000000,0.000000,3
39,1.544068,0.000000,0.000000,1.041393,0.000000,0.000000,0.845098,0.000000,1.462398,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3
40,2.025306,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.075547,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3
41,1.954243,0.000000,0.000000,0.000000,1.505150,0.000000,1.602060,1.462398,1.041393,1.612784,...,0.000000,1.079181,0.000000,0.000000,0.000000,0.000000,0.000000,1.204120,0.000000,3
42,2.068186,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.477121,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.278754,0.000000,0.000000,0.000000,0.000000,3
43,2.103804,0.000000,0.000000,1.041393,0.000000,0.000000,1.770852,1.230449,2.328380,1.204120,...,0.000000,0.000000,0.000000,0.602060,0.477121,1.041393,0.000000,0.000000,0.000000,3
44,3.144263,0.000000,2.507856,1.857332,0.000000,0.000000,2.130334,1.740363,1.716003,1.698970,...,0.000000,0.000000,0.000000,0.845098,1.662758,0.301030,1.000000,0.000000,0.602060,3
45,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4
46,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4
47,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4
48,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4
49,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.301030,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4
50,0.301030,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4
51,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4
52,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4
53,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.301030,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4
54,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4
55,0.000000,0.000000,0.000000,0.000000,0.301030,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4
56,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4
57,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4
58,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.301030,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4
59,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4

In [50]:
equal_samples_df.to_csv('/projects/genomic-ml/da2343/ml_project_1/data/microbe_ds/HMPv13_sub_log.csv', index=False)

## MovingPictures_otu_table

In [37]:
df = pd.read_csv('/projects/genomic-ml/da2343/ml_project_1/data/microbe_ds/MovingPictures_otu_table.csv').T
id_df = df.index.to_series().str.split('.', expand=True)
id_df.columns = ['Project_ID', 'Sample_ID', 'S_Constant', 'Group_ID', 'Sequence_Keyword']
df = df.join(id_df).reset_index(drop=True)
df = df.sort_values('Group_ID')
df = df.drop(['Project_ID', 'Sample_ID', 'S_Constant', 'Sequence_Keyword'], axis=1).reset_index(drop=True)

# drop the Group_ID column
# df = df.drop(['Group_ID'], axis=1)
# df = np.log(df + 1)
# df.to_csv('/projects/genomic-ml/da2343/ml_project_1/data/microbe_ds/MovingPictures_otu_table_log.csv')
df

,77966,626383,152466,150477,153647,3528445,565174,547463,842598,126,...,368261,1835779,4254528,191412,174415,4341194,573110,4128381,1868703,Group_ID
0,0,0,0,0,0,0,0,0,0,0,...,0,19,27,3,0,0,0,0,3,1
1,0,0,0,0,0,0,0,0,0,0,...,0,1,0,2,0,1,0,1,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,7,12,2,0,0,0,0,1,1
3,0,0,0,0,0,0,0,0,0,0,...,0,7,11,1,0,0,0,1,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,59,25,1,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1962,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6
1963,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6
1964,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6
1965,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6
1966,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6

In [38]:
df['Group_ID'] = df['Group_ID'].astype(int)
#df = df[df['Group_ID'] <= 3]
column_sums = df.sum(axis=0).sort_values(ascending=False)
top_20_columns = column_sums.head(TOP_COLS).index
df_selected = df[top_20_columns]
df_selected = np.log10(df_selected + 1)
df_selected['Group_ID'] = df['Group_ID']

# First, find the minimum group size
min_group_size = df_selected['Group_ID'].value_counts().min()
# but min_group_size should be a multiple of the cv constant which is 5
min_group_size = min_group_size - (min_group_size % CV)
# Now, use groupby and sample to get equal-sized samples from each group
equal_samples_df = df_selected.groupby('Group_ID').apply(lambda x: x.sample(min_group_size)).reset_index(drop=True)
equal_samples_df

,4396235,4381553,4479989,4477696,4447072,4468234,4467447,4387092,4446058,4469722,...,1096610,4383166,4381430,4310398,4442130,4453609,3138798,4411138,4458306,Group_ID
0,0.000000,3.995635,0.477121,0.301030,3.575880,1.623249,3.535167,0.000000,0.000000,0.000000,...,1.579784,0.0,0.000000,0.000000,0.301030,2.792392,2.718502,0.000000,0.000000,1
1,0.000000,3.381115,0.000000,0.000000,2.807535,0.698970,2.274158,0.000000,0.477121,0.000000,...,3.136086,0.0,1.755875,0.000000,0.000000,2.456366,2.225309,0.000000,0.000000,1
2,0.000000,1.934498,0.000000,0.477121,3.767898,3.702603,3.208441,0.000000,0.000000,0.000000,...,0.301030,0.0,2.928908,0.000000,0.477121,0.954243,3.101403,0.477121,0.698970,1
3,0.000000,4.055684,0.000000,0.477121,3.792462,1.716003,3.484727,0.000000,0.000000,0.000000,...,0.000000,0.0,3.290702,0.000000,0.000000,3.098644,2.621176,0.000000,0.477121,1
4,0.477121,3.984707,0.602060,0.778151,3.474653,1.602060,3.717254,0.000000,0.477121,0.000000,...,1.602060,0.0,0.301030,0.000000,0.000000,2.716003,3.004321,0.000000,0.000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1585,3.802021,0.000000,3.254548,3.781253,0.000000,0.000000,0.000000,3.598024,0.000000,2.946943,...,0.000000,0.0,0.000000,2.491362,2.527630,0.000000,0.000000,2.746634,2.660865,6
1586,4.136277,0.000000,3.231470,3.695307,0.000000,0.000000,0.000000,3.635685,0.000000,2.992995,...,0.000000,0.0,0.000000,2.071882,2.625312,0.000000,0.000000,2.862728,2.505150,6
1587,3.776120,0.000000,3.485295,3.469675,0.000000,0.000000,0.000000,3.133539,0.000000,3.536558,...,0.000000,0.0,0.000000,3.123525,2.383815,0.000000,0.000000,1.929419,2.708421,6
1588,3.790074,0.000000,3.222196,3.743667,0.000000,0.000000,0.000000,3.438067,0.301030,3.035430,...,0.000000,0.0,0.000000,2.404834,2.656098,0.000000,0.000000,3.041393,2.824126,6
1589,3.604334,0.000000,3.234517,3.337060,0.000000,0.000000,0.000000,3.717671,0.000000,3.355643,...,0.000000,0.0,0.000000,2.413300,2.567026,0.000000,0.000000,2.880242,3.246499,6

In [39]:
df_selected.to_csv('/projects/genomic-ml/da2343/ml_project_1/data/microbe_ds/MovingPictures_sub_log.csv', index=False)

## qa10394_otu_table

In [58]:
df = pd.read_csv('/projects/genomic-ml/da2343/ml_project_1/data/microbe_ds/qa10394_otu_table.csv').T
id_df = df.index.to_series().str.split('.', expand=True)
# use only column with index 1
id_df = id_df.iloc[:, 1]
id_df = id_df.rename('Group_ID')
df = df.join(id_df).reset_index(drop=True)
df = df.sort_values('Group_ID')
df = df[(df.Group_ID != "BLANK") & (df.Group_ID != "mistake")]
df = df.reset_index(drop=True)


# drop the Group_ID column
#df = df.drop(['Group_ID'], axis=1)
#df = np.log(df + 1)
#df.to_csv('/projects/genomic-ml/da2343/ml_project_1/data/microbe_ds/qa10394_otu_table_log.csv')
df

,77966,214422,152466,150477,153647,547463,152450,849440,4462888,4394387,...,336866,529740,1835779,4254528,191412,174415,4341194,573110,4128381,Group_ID
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,D1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,D1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,D1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,D1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,D1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1413,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,4,0,0,0,0,H9
1414,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,6,0,0,0,0,H9
1415,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,H9
1416,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,H9
1417,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,3,0,0,0,0,H9

In [61]:
df['Group_ID'] = (pd.factorize(df['Group_ID'])[0] + 1)

df['Group_ID'] = df['Group_ID'].astype(int)
#df = df[df['Group_ID'] <= TOP_GRPS]

column_sums = df.sum(axis=0).sort_values(ascending=False)
top_20_columns = column_sums.head(TOP_COLS).index
df_selected = df[top_20_columns]
df_selected = np.log10(df_selected + 1)
df_selected['Group_ID'] = df['Group_ID']
df_selected
df

,77966,214422,152466,150477,153647,547463,152450,849440,4462888,4394387,...,336866,529740,1835779,4254528,191412,174415,4341194,573110,4128381,Group_ID
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1413,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,4,0,0,0,0,16
1414,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,6,0,0,0,0,16
1415,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,16
1416,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,16
1417,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,3,0,0,0,0,16

In [63]:
# First, find the minimum group size
min_group_size = df_selected['Group_ID'].value_counts().min()
# but min_group_size should be a multiple of the cv constant which is 5
min_group_size = min_group_size - (min_group_size % CV)
# Now, use groupby and sample to get equal-sized samples from each group
equal_samples_df = df_selected.groupby('Group_ID').apply(lambda x: x.sample(min_group_size)).reset_index(drop=True)
equal_samples_df

,4436552,4481131,4468234,189083,4381553,4457438,4234219,4478125,4410166,4474759,...,4335293,4365130,173773,184678,134101,4414489,841635,4447188,4449236,Group_ID
0,2.462398,3.768712,1.041393,2.515874,0.477121,0.903090,3.127753,0.698970,1.491362,3.304059,...,3.468052,0.602060,0.602060,0.30103,0.477121,3.841797,0.000000,0.000000,0.000000,1
1,3.798720,3.693287,1.342423,3.753353,0.903090,1.146128,4.073572,1.041393,2.612784,3.650405,...,3.828853,1.113943,0.845098,0.30103,0.000000,3.192010,0.602060,0.602060,0.602060,1
2,3.732876,3.721068,1.079181,3.694693,0.602060,0.845098,4.065654,1.000000,2.587711,3.911477,...,3.828273,1.204120,0.477121,0.30103,0.000000,3.570893,0.301030,0.301030,0.000000,1
3,3.297979,3.541454,0.698970,3.267172,0.000000,0.301030,3.932879,0.477121,2.120574,3.694605,...,3.657343,1.000000,0.000000,0.30103,0.000000,2.692847,0.301030,0.000000,0.301030,1
4,3.197005,2.392697,1.079181,3.098990,1.000000,0.778151,2.089905,0.000000,1.959041,2.790988,...,2.980003,1.000000,0.000000,0.00000,0.301030,3.274850,0.477121,0.477121,0.301030,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,0.301030,0.301030,1.579784,0.477121,3.765892,2.899821,0.000000,0.000000,0.301030,0.000000,...,0.000000,0.602060,0.000000,0.00000,0.000000,0.000000,3.266232,1.000000,0.000000,16
236,0.698970,0.602060,1.963788,0.602060,4.051230,1.041393,0.000000,0.301030,0.698970,0.477121,...,0.301030,0.477121,0.000000,0.30103,0.301030,0.477121,2.127105,1.301030,0.000000,16
237,1.079181,0.698970,1.908485,0.778151,3.661055,2.505150,0.301030,0.301030,0.602060,0.301030,...,0.301030,0.000000,0.301030,0.00000,0.000000,0.477121,1.255273,1.342423,0.301030,16
238,1.505150,0.954243,2.201397,1.278754,4.108599,3.191451,0.301030,1.000000,1.079181,0.477121,...,0.954243,0.301030,0.698970,0.69897,0.698970,0.301030,3.120245,1.633468,0.301030,16
239,1.477121,0.698970,2.262451,1.414973,3.967454,2.949878,0.903090,0.477121,0.698970,0.602060,...,0.845098,0.778151,0.301030,0.00000,0.477121,0.954243,3.363612,1.623249,0.845098,16

In [64]:
equal_samples_df.to_csv('/projects/genomic-ml/da2343/ml_project_1/data/microbe_ds/qa10394_sub_log.csv', index=False)

## TwinsUK_otu_table

In [65]:
df = pd.read_csv('/projects/genomic-ml/da2343/ml_project_1/data/microbe_ds/TwinsUK_otu_table.csv').T
id_df = df.index.to_series().str.split('.', expand=True)
id_df = id_df.iloc[:, 1]
id_df = id_df.rename('Group_ID')
df = df.join(id_df).reset_index(drop=True)
df = df.sort_values('Group_ID').reset_index(drop=True)


# drop the Group_ID column
#df = df.drop(['Group_ID'], axis=1)
#df = np.log(df + 1)
#df.to_csv('/projects/genomic-ml/da2343/ml_project_1/data/microbe_ds/TwinsUK_otu_table_log.csv')
df

,105600,150477,153647,3528445,547463,4438983,842598,126,152450,849440,...,302494,198626,191412,174415,537661,573110,4453304,4128381,1868703,Group_ID
0,0,0,0,0,0,40,0,0,0,0,...,0,1,0,0,22,0,0,0,0,High1
1,0,0,0,0,0,0,0,0,0,0,...,0,2,8,0,0,0,0,0,1,High1
2,0,0,0,0,0,0,0,0,0,0,...,0,1,1,0,5,0,0,0,0,High1
3,0,0,0,0,0,94,0,0,1,2,...,0,3,7,0,44,0,0,0,0,High1
4,0,0,0,0,0,1,0,0,0,0,...,0,15,10,0,5,0,0,0,1,High1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1019,0,0,0,0,0,102,0,0,0,2,...,0,0,3,0,10,0,0,0,1,Plate9
1020,0,0,0,0,0,0,0,0,0,0,...,0,13,41,0,0,0,0,0,0,Plate9
1021,0,0,0,0,0,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Plate9
1022,0,0,0,0,0,1260,0,3,0,33,...,0,8,7,0,0,0,0,0,0,Plate9
1023,0,0,0,0,0,0,0,0,0,0,...,0,12,1,0,0,0,0,0,0,Plate9

In [67]:
df['Group_ID'] = (pd.factorize(df['Group_ID'])[0] + 1)
df['Group_ID'] = df['Group_ID'].astype(int)


column_sums = df.sum(axis=0).sort_values(ascending=False)
top_20_columns = column_sums.head(TOP_COLS).index
df_selected = df[top_20_columns]
df_selected = np.log10(df_selected + 1)
df_selected['Group_ID'] = df['Group_ID']
df_selected
df

,105600,150477,153647,3528445,547463,4438983,842598,126,152450,849440,...,302494,198626,191412,174415,537661,573110,4453304,4128381,1868703,Group_ID
0,0,0,0,0,0,40,0,0,0,0,...,0,1,0,0,22,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,2,8,0,0,0,0,0,1,1
2,0,0,0,0,0,0,0,0,0,0,...,0,1,1,0,5,0,0,0,0,1
3,0,0,0,0,0,94,0,0,1,2,...,0,3,7,0,44,0,0,0,0,1
4,0,0,0,0,0,1,0,0,0,0,...,0,15,10,0,5,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1019,0,0,0,0,0,102,0,0,0,2,...,0,0,3,0,10,0,0,0,1,16
1020,0,0,0,0,0,0,0,0,0,0,...,0,13,41,0,0,0,0,0,0,16
1021,0,0,0,0,0,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,16
1022,0,0,0,0,0,1260,0,3,0,33,...,0,8,7,0,0,0,0,0,0,16
1023,0,0,0,0,0,0,0,0,0,0,...,0,12,1,0,0,0,0,0,0,16

In [68]:
# First, find the minimum group size
min_group_size = df_selected['Group_ID'].value_counts().min()
# but min_group_size should be a multiple of the cv constant which is 5
min_group_size = min_group_size - (min_group_size % CV)
# Now, use groupby and sample to get equal-sized samples from each group
equal_samples_df = df_selected.groupby('Group_ID').apply(lambda x: x.sample(min_group_size)).reset_index(drop=True)
equal_samples_df

,4463892,4381553,4425571,4447072,3327894,311820,337403,4453609,357046,4306262,...,4447950,1952,146672,192347,303274,162430,4436552,4457872,4477861,Group_ID
0,3.697491,1.204120,1.397940,1.785330,3.665769,2.371068,3.492341,0.477121,2.344392,0.301030,...,2.782473,0.698970,2.892651,0.301030,2.641474,2.945961,0.000000,2.518514,0.602060,1
1,3.640978,1.556303,1.255273,2.437751,4.092089,3.451172,1.301030,0.845098,0.477121,0.778151,...,0.477121,0.477121,2.330414,0.698970,2.706718,0.301030,0.301030,3.174641,0.903090,1
2,2.025306,1.041393,0.301030,2.884229,0.845098,0.301030,0.698970,1.698970,0.000000,4.013259,...,1.579784,0.477121,3.200850,0.000000,0.602060,0.602060,0.602060,1.968483,0.477121,1
3,3.204934,3.237041,2.093422,2.049218,2.584331,2.943000,0.000000,0.000000,2.371068,2.831230,...,2.230449,3.333447,2.436163,0.301030,3.391817,0.000000,0.000000,2.369216,3.113275,1
4,2.626340,0.845098,1.755875,2.812913,2.728354,3.323458,0.301030,3.217484,1.176091,2.240549,...,2.245513,2.803457,3.169380,3.566202,2.663701,3.249687,2.894870,2.045323,2.075547,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,2.264818,1.653213,0.000000,1.778151,1.579784,2.994317,3.059563,1.041393,1.361728,3.353916,...,2.496930,2.667453,2.068186,0.301030,1.819544,0.301030,1.491362,1.579784,0.301030,16
156,3.074451,0.602060,0.000000,2.507856,1.716003,2.437751,3.120903,2.911158,0.602060,0.000000,...,2.130334,2.041393,2.701568,0.000000,3.028571,0.477121,0.477121,2.298853,0.477121,16
157,3.943297,1.176091,0.477121,0.845098,2.944976,3.770484,0.000000,0.477121,3.197281,2.117271,...,0.301030,0.301030,1.505150,0.000000,1.939519,2.201397,0.477121,3.011570,0.602060,16
158,0.845098,3.046105,0.845098,1.491362,2.344392,3.688153,0.778151,3.033021,1.643453,2.012837,...,0.301030,2.835691,2.606381,3.066699,2.866287,2.227887,1.380211,2.615950,3.143951,16
159,1.079181,2.635484,3.140508,1.255273,2.356026,2.453318,2.743510,2.956168,2.897627,3.106531,...,0.301030,2.507856,1.716003,3.612996,1.959041,0.698970,0.000000,1.995635,3.082785,16

In [69]:
equal_samples_df.to_csv('/projects/genomic-ml/da2343/ml_project_1/data/microbe_ds/TwinsUK_sub_log.csv', index=False)