In [ ]:
import pandas as pd
import numpy as np

## HMPv13_otu_table

In [ ]:
# Project ID : 1928
# Subject ID: SRS 
# Experiment ID: SRX
# Run ID: SRR

# df = pd.read_csv('/projects/genomic-ml/da2343/ml_project_1/data/microbe_ds/HMPv13_otu_table.csv').T
df = pd.read_csv('/projects/genomic-ml/da2343/ml_project_1/data/microbe_ds/HMPv35_otu_table.csv').T
# Convert the index to a series and split it
id_df = df.index.to_series().str.split('.', expand=True)
# Rename the columns as per your requirement
id_df.columns = ['Project_ID', 'SRS_ID', 'SRX_ID', 'SRR_ID']
# Now 'id_df' has the separate columns. You can join this back to your original DataFrame if needed
# join infront of the df
df = df.join(id_df).reset_index(drop=True)
grouped_df = df.sort_values('SRX_ID')
# drop the columns that are not needed
grouped_df = grouped_df.drop(['Project_ID', 'SRS_ID', 'SRR_ID'], axis=1)
# rename the SRX_ID column to Sample_ID
grouped_df = grouped_df.rename(columns={'SRX_ID': 'Group_ID'}).reset_index(drop=True)
grouped_df

## MovingPictures_otu_table

In [ ]:
df = pd.read_csv('/projects/genomic-ml/da2343/ml_project_1/data/microbe_ds/MovingPictures_otu_table.csv').T
id_df = df.index.to_series().str.split('.', expand=True)
id_df.columns = ['Project_ID', 'Sample_ID', 'S_Constant', 'Group_ID', 'Sequence_Keyword']
df = df.join(id_df).reset_index(drop=True)
grouped_df = df.sort_values('Group_ID')
grouped_df = grouped_df.drop(['Project_ID', 'Sample_ID', 'S_Constant', 'Sequence_Keyword'], axis=1).reset_index(drop=True)
grouped_df

## qa10394_otu_table

In [ ]:
df = pd.read_csv('/projects/genomic-ml/da2343/ml_project_1/data/microbe_ds/qa10394_otu_table.csv').T
id_df = df.index.to_series().str.split('.', expand=True)
# use only column with index 1
id_df = id_df.iloc[:, 1]
id_df = id_df.rename('Group_ID')
df = df.join(id_df).reset_index(drop=True)
grouped_df = df.sort_values('Group_ID')
grouped_df = grouped_df[(grouped_df.Group_ID != "BLANK") & (grouped_df.Group_ID != "mistake")]
grouped_df

## TwinsUK_otu_table

In [57]:
df = pd.read_csv('/projects/genomic-ml/da2343/ml_project_1/data/microbe_ds/TwinsUK_otu_table.csv').T
id_df = df.index.to_series().str.split('.', expand=True)
id_df = id_df.iloc[:, 1]
id_df = id_df.rename('Group_ID')
df = df.join(id_df).reset_index(drop=True)
grouped_df = df.sort_values('Group_ID')
# id_df = id_df.iloc[:, 1]
# id_df = id_df.rename('Group_ID')
# df = df.join(id_df).reset_index(drop=True)
# grouped_df = df.sort_values('Group_ID')
grouped_df

,105600,150477,153647,3528445,547463,4438983,842598,126,152450,849440,...,302494,198626,191412,174415,537661,573110,4453304,4128381,1868703,Group_ID
603,0,0,0,0,0,40,0,0,0,0,...,0,1,0,0,22,0,0,0,0,High1
971,0,0,0,0,0,0,0,0,0,0,...,0,2,8,0,0,0,0,0,1,High1
199,0,0,0,0,0,0,0,0,0,0,...,0,1,1,0,5,0,0,0,0,High1
200,0,0,0,0,0,94,0,0,1,2,...,0,3,7,0,44,0,0,0,0,High1
201,0,0,0,0,0,1,0,0,0,0,...,0,15,10,0,5,0,0,0,1,High1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
991,0,0,0,0,0,102,0,0,0,2,...,0,0,3,0,10,0,0,0,1,Plate9
394,0,0,0,0,0,0,0,0,0,0,...,0,13,41,0,0,0,0,0,0,Plate9
993,0,0,0,0,0,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Plate9
127,0,0,0,0,0,1260,0,3,0,33,...,0,8,7,0,0,0,0,0,0,Plate9
396,0,0,0,0,0,0,0,0,0,0,...,0,12,1,0,0,0,0,0,0,Plate9