In [1]:
import pandas as pd
import numpy as np

CV = 5
TOP_COLS = 30 - 1
TOP_GRPS = 4

## HMPv13_otu_table

In [ ]:
# Project ID : 1928
# Subject ID: SRS 
# Experiment ID: SRX
# Run ID: SRR

df = pd.read_csv('/projects/genomic-ml/da2343/ml_project_1/data/microbe_ds/HMPv13_otu_table.csv').T
#df = pd.read_csv('/projects/genomic-ml/da2343/ml_project_1/data/microbe_ds/HMPv35_otu_table.csv').T
# Convert the index to a series and split it
id_df = df.index.to_series().str.split('.', expand=True)
# Rename the columns as per your requirement
id_df.columns = ['Project_ID', 'SRS_ID', 'SRX_ID', 'SRR_ID']
# Now 'id_df' has the separate columns. You can join this back to your original DataFrame if needed
# join infront of the df
df = df.join(id_df).reset_index(drop=True)
df = df.sort_values('SRX_ID')
# drop the columns that are not needed
df = df.drop(['Project_ID', 'SRS_ID', 'SRR_ID'], axis=1)
# rename the SRX_ID column to Sample_ID
df = df.rename(columns={'SRX_ID': 'Group_ID'}).reset_index(drop=True)

# give the group ID a number each
df['Group_ID'] = (pd.factorize(df['Group_ID'])[0] + 1)

# drop the Group_ID column
# df = df.drop(['Group_ID'], axis=1)
# df = np.log(df + 1)
# df.to_csv('/projects/genomic-ml/da2343/ml_project_1/data/microbe_ds/HMPv13_otu_table_log.csv')
df

In [ ]:
df['Group_ID'] = df['Group_ID'].astype(int)
df = df[df['Group_ID'] <= TOP_GRPS]

column_sums = df.sum(axis=0).sort_values(ascending=False)
top_20_columns = column_sums.head(TOP_COLS).index
df_selected = df[top_20_columns]
df_selected = np.log10(df_selected + 1)
df_selected['Group_ID'] = df['Group_ID']
df_selected

In [ ]:
# First, find the minimum group size
min_group_size = df_selected['Group_ID'].value_counts().min()
# but min_group_size should be a multiple of the cv constant which is 5
min_group_size = min_group_size - (min_group_size % CV)
# Now, use groupby and sample to get equal-sized samples from each group
equal_samples_df = df_selected.groupby('Group_ID').apply(lambda x: x.sample(min_group_size)).reset_index(drop=True)
equal_samples_df

In [ ]:
equal_samples_df.to_csv('/projects/genomic-ml/da2343/ml_project_1/data/microbe_ds/HMPv13_sub_log.csv', index=False)

## MovingPictures_otu_table

In [ ]:
df = pd.read_csv('/projects/genomic-ml/da2343/ml_project_1/data/microbe_ds/MovingPictures_otu_table.csv').T
id_df = df.index.to_series().str.split('.', expand=True)
id_df.columns = ['Project_ID', 'Sample_ID', 'S_Constant', 'Group_ID', 'Sequence_Keyword']
df = df.join(id_df).reset_index(drop=True)
df = df.sort_values('Group_ID')
df = df.drop(['Project_ID', 'Sample_ID', 'S_Constant', 'Sequence_Keyword'], axis=1).reset_index(drop=True)

# drop the Group_ID column
# df = df.drop(['Group_ID'], axis=1)
# df = np.log(df + 1)
# df.to_csv('/projects/genomic-ml/da2343/ml_project_1/data/microbe_ds/MovingPictures_otu_table_log.csv')
df

In [ ]:
df['Group_ID'] = df['Group_ID'].astype(int)
#df = df[df['Group_ID'] <= 3]
column_sums = df.sum(axis=0).sort_values(ascending=False)
top_20_columns = column_sums.head(TOP_COLS).index
df_selected = df[top_20_columns]
df_selected = np.log10(df_selected + 1)
df_selected['Group_ID'] = df['Group_ID']

# First, find the minimum group size
min_group_size = df_selected['Group_ID'].value_counts().min()
# but min_group_size should be a multiple of the cv constant which is 5
min_group_size = min_group_size - (min_group_size % CV)
# Now, use groupby and sample to get equal-sized samples from each group
equal_samples_df = df_selected.groupby('Group_ID').apply(lambda x: x.sample(min_group_size)).reset_index(drop=True)
equal_samples_df

In [ ]:
df_selected.to_csv('/projects/genomic-ml/da2343/ml_project_1/data/microbe_ds/MovingPictures_sub_log.csv', index=False)

## qa10394_otu_table

In [ ]:
df = pd.read_csv('/projects/genomic-ml/da2343/ml_project_1/data/microbe_ds/qa10394_otu_table.csv').T
id_df = df.index.to_series().str.split('.', expand=True)
# use only column with index 1
id_df = id_df.iloc[:, 1]
id_df = id_df.rename('Group_ID')
df = df.join(id_df).reset_index(drop=True)
df = df.sort_values('Group_ID')
df = df[(df.Group_ID != "BLANK") & (df.Group_ID != "mistake")]
df = df.reset_index(drop=True)


# drop the Group_ID column
#df = df.drop(['Group_ID'], axis=1)
#df = np.log(df + 1)
#df.to_csv('/projects/genomic-ml/da2343/ml_project_1/data/microbe_ds/qa10394_otu_table_log.csv')
df

In [ ]:
df['Group_ID'] = (pd.factorize(df['Group_ID'])[0] + 1)

df['Group_ID'] = df['Group_ID'].astype(int)
df = df[df['Group_ID'] <= TOP_GRPS]

column_sums = df.sum(axis=0).sort_values(ascending=False)
top_20_columns = column_sums.head(TOP_COLS).index
df_selected = df[top_20_columns]
df_selected = np.log10(df_selected + 1)
df_selected['Group_ID'] = df['Group_ID']
df_selected
df

In [ ]:
# First, find the minimum group size
min_group_size = df_selected['Group_ID'].value_counts().min()
# but min_group_size should be a multiple of the cv constant which is 5
min_group_size = min_group_size - (min_group_size % CV)
# Now, use groupby and sample to get equal-sized samples from each group
equal_samples_df = df_selected.groupby('Group_ID').apply(lambda x: x.sample(min_group_size)).reset_index(drop=True)
equal_samples_df

In [ ]:
equal_samples_df.to_csv('/projects/genomic-ml/da2343/ml_project_1/data/microbe_ds/qa10394_sub_log.csv', index=False)

## TwinsUK_otu_table

In [13]:
df = pd.read_csv('/projects/genomic-ml/da2343/ml_project_1/data/microbe_ds/TwinsUK_otu_table.csv').T
id_df = df.index.to_series().str.split('.', expand=True)
id_df = id_df.iloc[:, 1]
id_df = id_df.rename('Group_ID')
df = df.join(id_df).reset_index(drop=True)
df = df.sort_values('Group_ID').reset_index(drop=True)


# drop the Group_ID column
#df = df.drop(['Group_ID'], axis=1)
#df = np.log(df + 1)
#df.to_csv('/projects/genomic-ml/da2343/ml_project_1/data/microbe_ds/TwinsUK_otu_table_log.csv')


df['Group_ID'] = (pd.factorize(df['Group_ID'])[0] + 1)
df['Group_ID'] = df['Group_ID'].astype(int)
df = df[df['Group_ID'] <= TOP_GRPS]



column_sums = df.sum(axis=0).sort_values(ascending=False)
top_20_columns = column_sums.head(TOP_COLS).index
df_selected = df[top_20_columns]
df_selected = np.log10(df_selected + 1)
df_selected['Group_ID'] = df['Group_ID']
df_selected

,4463892,4425571,4381553,4447072,337403,3327894,311820,4306262,306021,287608,...,162430,303274,146672,329668,1952,4457872,287445,4449054,359158,Group_ID
0,3.671173,2.471292,1.079181,2.919078,3.391641,2.445604,2.966611,0.301030,2.507856,0.845098,...,0.000000,2.545307,1.863323,2.447158,0.301030,2.964731,2.064458,0.301030,2.356026,1
1,3.211388,0.845098,2.465383,1.903090,3.208173,1.643453,3.265290,0.000000,3.039017,3.412124,...,0.000000,2.615950,2.187521,2.292256,2.419956,1.845098,2.414973,2.732394,2.429752,1
2,3.926342,1.633468,1.462398,3.801678,0.778151,3.745855,0.602060,1.491362,2.267172,2.897077,...,2.522444,2.474216,2.334454,2.565848,3.473779,3.282622,2.326336,0.477121,2.235528,1
3,3.640978,1.255273,1.556303,2.437751,1.301030,4.092089,3.451172,0.778151,2.505150,3.006038,...,0.301030,2.706718,2.330414,2.945961,0.477121,3.174641,2.518514,3.362294,2.582063,1
4,2.626340,1.755875,0.845098,2.812913,0.301030,2.728354,3.323458,2.240549,2.550228,3.613525,...,3.249687,2.663701,3.169380,2.100371,2.803457,2.045323,2.706718,2.465383,2.711807,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,2.893207,0.954243,2.800029,3.150756,3.017033,3.366796,2.004321,0.903090,3.926291,3.684127,...,0.954243,2.758155,3.004751,2.733197,0.698970,2.718502,1.845098,1.000000,2.954243,4
272,3.109241,3.152594,1.875061,3.328583,3.801404,1.959041,3.552425,2.673021,3.046105,3.183555,...,0.000000,2.546543,2.597695,2.983175,0.602060,2.583199,2.846337,2.712650,2.392697,4
273,2.418301,1.447158,0.954243,1.863323,3.755951,1.322219,3.561698,3.978500,3.137671,3.502564,...,0.602060,2.764176,2.318063,0.845098,0.301030,1.698970,2.374748,2.274158,2.953760,4
274,2.761928,3.981547,3.118595,3.602060,3.013680,3.339849,2.187521,3.538574,2.082785,3.030600,...,0.903090,1.556303,1.602060,2.530200,3.136403,2.677607,1.770852,3.542950,2.021189,4
275,3.568905,3.200850,1.176091,3.191171,4.034628,2.079181,1.857332,3.420945,2.591065,0.778151,...,0.477121,2.238046,1.944483,1.863323,2.459392,2.836957,2.267172,0.477121,1.505150,4

In [14]:
# First, find the minimum group size
min_group_size = df_selected['Group_ID'].value_counts().min()
# but min_group_size should be a multiple of the cv constant which is 5
min_group_size = min_group_size - (min_group_size % CV)
# Now, use groupby and sample to get equal-sized samples from each group
equal_samples_df = df_selected.groupby('Group_ID').apply(lambda x: x.sample(min_group_size)).reset_index(drop=True)
equal_samples_df

,4463892,4425571,4381553,4447072,337403,3327894,311820,4306262,306021,287608,...,162430,303274,146672,329668,1952,4457872,287445,4449054,359158,Group_ID
0,3.270213,0.954243,2.640481,3.497621,3.854124,3.459995,2.399674,2.752816,2.918555,0.477121,...,0.000000,2.937016,2.824126,1.968483,1.995635,2.755112,2.367356,2.029384,2.252853,1
1,3.791269,0.903090,1.079181,3.110253,3.338257,1.255273,3.310056,0.778151,2.795185,2.989005,...,0.301030,2.190332,1.255273,2.363612,0.000000,0.778151,1.886491,0.301030,1.995635,1
2,3.018284,1.301030,3.107888,3.157759,0.477121,2.992111,2.702431,0.000000,3.629919,3.176091,...,0.000000,3.070776,2.682145,2.053078,0.477121,2.385606,2.287802,2.232996,2.414973,1
3,0.845098,3.090258,3.959089,3.012837,3.625724,1.301030,2.919601,2.320146,3.354493,2.385606,...,2.264818,2.501059,1.755875,2.290035,0.301030,2.120574,1.863323,0.477121,2.503791,1
4,3.642563,1.176091,1.146128,1.770852,0.301030,3.148603,3.226600,2.994757,1.698970,2.805501,...,3.232742,1.913814,1.230449,2.164353,0.000000,2.695482,1.579784,0.845098,2.212188,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,2.797268,2.250420,2.487138,0.778151,4.105817,3.276232,3.295567,3.821186,3.130977,2.585461,...,3.783618,2.622214,2.068186,2.648360,3.573220,0.698970,1.857332,0.477121,2.372912,4
136,1.491362,1.740363,4.197969,3.849604,0.602060,3.329398,1.000000,3.242790,2.301030,0.477121,...,0.000000,2.380211,2.431364,2.919078,0.778151,3.808886,2.348305,0.778151,1.653213,4
137,3.827175,2.485721,3.644931,3.193125,3.759290,3.711217,2.863323,0.698970,2.164353,1.113943,...,3.077004,3.089198,2.550228,2.338456,1.041393,3.362294,2.654177,0.602060,2.421604,4
138,2.951823,2.809560,0.778151,1.716003,2.814913,2.243038,1.556303,3.063333,2.033424,2.522444,...,0.000000,2.702431,2.004321,2.713491,2.071882,1.000000,1.041393,2.372912,2.383815,4
139,1.361728,0.602060,3.976304,3.771293,0.778151,3.453930,2.496930,3.421275,2.812245,0.301030,...,3.159567,2.437751,2.356026,0.301030,0.698970,0.778151,2.190332,0.778151,2.255273,4

In [15]:
equal_samples_df.to_csv('/projects/genomic-ml/da2343/ml_project_1/data/microbe_ds/TwinsUK_sub_log.csv', index=False)