In [1]:
import pandas as pd
import numpy as np

In [2]:
CV = 5
TOP_COLS = 30 - 1
TOP_GRPS = 50

## HMPv13_otu_table

In [35]:
# Project ID : 1928
# Subject ID: SRS 
# Experiment ID: SRX
# Run ID: SRR

# df = pd.read_csv('/projects/genomic-ml/da2343/ml_project_1/data/microbe_ds/HMPv13_otu_table.csv').T
df = pd.read_csv('/projects/genomic-ml/da2343/ml_project_1/data/microbe_ds/HMPv35_otu_table.csv').T
# Convert the index to a series and split it
id_df = df.index.to_series().str.split('.', expand=True)
# Rename the columns as per your requirement
id_df.columns = ['Project_ID', 'SRS_ID', 'SRX_ID', 'SRR_ID']
# Now 'id_df' has the separate columns. You can join this back to your original DataFrame if needed
# join infront of the df
df = df.join(id_df).reset_index(drop=True)
df = df.sort_values('SRX_ID')
# drop the columns that are not needed
df = df.drop(['Project_ID', 'SRS_ID', 'SRR_ID'], axis=1)
# rename the SRX_ID column to Sample_ID
df = df.rename(columns={'SRX_ID': 'Group_ID'}).reset_index(drop=True)

# give the group ID a number each
df['Group_ID'] = (pd.factorize(df['Group_ID'])[0] + 1)

# drop the Group_ID column
# df = df.drop(['Group_ID'], axis=1)
# df = np.log(df + 1)
# df.to_csv('/projects/genomic-ml/da2343/ml_project_1/data/microbe_ds/HMPv13_otu_table_log.csv')

df['Group_ID'] = df['Group_ID'].astype(int)
df

# df_selected is without the Group_ID column
df_selected = df.drop(['Group_ID'], axis=1) 
df_selected = np.log10(df_selected + 1)
df_selected['Group_ID'] = df['Group_ID']
df_selected

# First, find the minimum group size
min_group_size = int(df_selected['Group_ID'].value_counts().mean())

# but min_group_size should be a multiple of the cv constant which is 5
min_group_size = min_group_size - (min_group_size % CV)

# remove all groups that are smaller than the min_group_size
df_selected = df_selected.groupby('Group_ID').filter(lambda x: len(x) >= min_group_size)

# Now, use groupby and sample to get equal-sized samples from each group
equal_samples_df = df_selected.groupby('Group_ID').apply(lambda x: x.sample(min_group_size)).reset_index(drop=True)

# arrange Group_ID in ascending order
equal_samples_df = equal_samples_df.sort_values('Group_ID').reset_index(drop=True)
equal_samples_df

,4438983,849440,4213913,4330849,4400869,2836860,4457086,2171541,4457085,655496,...,198945,191112,191412,174415,195203,4341194,537661,4453304,1868703,Group_ID
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.30103,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2445,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,150
2446,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,150
2447,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,150
2448,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,150
2449,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,150

In [36]:
# equal_samples_df.to_csv('/projects/genomic-ml/da2343/ml_project_1/data/microbe_ds/HMPv13_sub_log_update.csv', index=False)
equal_samples_df.to_csv('/projects/genomic-ml/da2343/ml_project_1/data/microbe_ds/HMPv35_sub_log_update.csv', index=False)

## MovingPictures_otu_table

In [ ]:
df = pd.read_csv('/projects/genomic-ml/da2343/ml_project_1/data/microbe_ds/MovingPictures_otu_table.csv').T
id_df = df.index.to_series().str.split('.', expand=True)
id_df.columns = ['Project_ID', 'Sample_ID', 'S_Constant', 'Group_ID', 'Sequence_Keyword']
df = df.join(id_df).reset_index(drop=True)
df = df.sort_values('Group_ID')
df = df.drop(['Project_ID', 'Sample_ID', 'S_Constant', 'Sequence_Keyword'], axis=1).reset_index(drop=True)

# drop the Group_ID column
# df = df.drop(['Group_ID'], axis=1)
# df = np.log(df + 1)
# df.to_csv('/projects/genomic-ml/da2343/ml_project_1/data/microbe_ds/MovingPictures_otu_table_log.csv')
# df

df['Group_ID'] = (pd.factorize(df['Group_ID'])[0] + 1)
df['Group_ID'] = df['Group_ID'].astype(int)

# df_selected is without the Group_ID column
df_selected = df.drop(['Group_ID'], axis=1) 
df_selected = np.log10(df_selected + 1)
df_selected['Group_ID'] = df['Group_ID']
df_selected

# column_sums = df.sum(axis=0).sort_values(ascending=False)
# top_20_columns = column_sums.head(TOP_COLS).index
# df_selected = df[top_20_columns]
# df_selected = np.log10(df_selected + 1)
# df_selected['Group_ID'] = df['Group_ID']

# First, find the minimum group size
min_group_size = int(df_selected['Group_ID'].value_counts().mean())

# but min_group_size should be a multiple of the cv constant which is 5
min_group_size = min_group_size - (min_group_size % CV)

# remove all groups that are smaller than the min_group_size
df_selected = df_selected.groupby('Group_ID').filter(lambda x: len(x) >= min_group_size)

# Now, use groupby and sample to get equal-sized samples from each group
equal_samples_df = df_selected.groupby('Group_ID').apply(lambda x: x.sample(min_group_size)).reset_index(drop=True)

# arrange Group_ID in ascending order
equal_samples_df = equal_samples_df.sort_values('Group_ID').reset_index(drop=True)
equal_samples_df

In [38]:
equal_samples_df.to_csv('/projects/genomic-ml/da2343/ml_project_1/data/microbe_ds/MovingPictures_sub_log_update.csv', index=False)

## qa10394_otu_table

In [40]:
df = pd.read_csv('/projects/genomic-ml/da2343/ml_project_1/data/microbe_ds/qa10394_otu_table.csv').T
id_df = df.index.to_series().str.split('.', expand=True)
# use only column with index 1
id_df = id_df.iloc[:, 1]
id_df = id_df.rename('Group_ID')
df = df.join(id_df).reset_index(drop=True)
df = df.sort_values('Group_ID')
df = df[(df.Group_ID != "BLANK") & (df.Group_ID != "mistake")]
df = df.reset_index(drop=True)


# drop the Group_ID column
#df = df.drop(['Group_ID'], axis=1)
#df = np.log(df + 1)
#df.to_csv('/projects/genomic-ml/da2343/ml_project_1/data/microbe_ds/qa10394_otu_table_log.csv')

df['Group_ID'] = (pd.factorize(df['Group_ID'])[0] + 1)
df['Group_ID'] = df['Group_ID'].astype(int)

# df_selected is without the Group_ID column
df_selected = df.drop(['Group_ID'], axis=1) 
df_selected = np.log10(df_selected + 1)
df_selected['Group_ID'] = df['Group_ID']
df_selected

# First, find the minimum group size
min_group_size = int(df_selected['Group_ID'].value_counts().mean())

# but min_group_size should be a multiple of the cv constant which is 5
min_group_size = min_group_size - (min_group_size % CV)

# remove all groups that are smaller than the min_group_size
df_selected = df_selected.groupby('Group_ID').filter(lambda x: len(x) >= min_group_size)

# Now, use groupby and sample to get equal-sized samples from each group
equal_samples_df = df_selected.groupby('Group_ID').apply(lambda x: x.sample(min_group_size)).reset_index(drop=True)

# arrange Group_ID in ascending order
equal_samples_df = equal_samples_df.sort_values('Group_ID').reset_index(drop=True)
equal_samples_df

,77966,214422,152466,150477,153647,547463,152450,849440,4462888,4394387,...,336866,529740,1835779,4254528,191412,174415,4341194,573110,4128381,Group_ID
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.00000,0.0,0.0,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.00000,0.0,0.0,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.00000,0.0,0.0,1
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.00000,0.0,0.0,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.30103,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1270,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.00000,0.0,0.0,16
1271,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.954243,0.0,0.00000,0.0,0.0,16
1272,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.477121,0.0,0.00000,0.0,0.0,16
1273,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.477121,0.0,0.00000,0.0,0.0,16
1274,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.301030,0.0,0.00000,0.0,0.0,16

In [41]:
equal_samples_df.to_csv('/projects/genomic-ml/da2343/ml_project_1/data/microbe_ds/qa10394_sub_log_update.csv', index=False)

## TwinsUK_otu_table

In [3]:
df = pd.read_csv('/projects/genomic-ml/da2343/ml_project_1/data/microbe_ds/TwinsUK_otu_table.csv').T
id_df = df.index.to_series().str.split('.', expand=True)
id_df = id_df.iloc[:, 1]
id_df = id_df.rename('Group_ID')
df = df.join(id_df).reset_index(drop=True)
df = df.sort_values('Group_ID').reset_index(drop=True)


# drop the Group_ID column
#df = df.drop(['Group_ID'], axis=1)
#df = np.log(df + 1)
#df.to_csv('/projects/genomic-ml/da2343/ml_project_1/data/microbe_ds/TwinsUK_otu_table_log.csv')
df['Group_ID'] = (pd.factorize(df['Group_ID'])[0] + 1)
df['Group_ID'] = df['Group_ID'].astype(int)

# df_selected is without the Group_ID column
df_selected = df.drop(['Group_ID'], axis=1) 
df_selected = np.log10(df_selected + 1)
df_selected['Group_ID'] = df['Group_ID']
# df_selected

# First, find the minimum group size
min_group_size = int(df_selected['Group_ID'].value_counts().mean())

# but min_group_size should be a multiple of the cv constant which is 5
min_group_size = min_group_size - (min_group_size % CV)

# remove all groups that are smaller than the min_group_size
df_selected = df_selected.groupby('Group_ID').filter(lambda x: len(x) >= min_group_size)

# Now, use groupby and sample to get equal-sized samples from each group
equal_samples_df = df_selected.groupby('Group_ID').apply(lambda x: x.sample(min_group_size)).reset_index(drop=True)

# arrange Group_ID in ascending order
equal_samples_df = equal_samples_df.sort_values('Group_ID').reset_index(drop=True)
equal_samples_df

,105600,150477,153647,3528445,547463,4438983,842598,126,152450,849440,...,302494,198626,191412,174415,537661,573110,4453304,4128381,1868703,Group_ID
0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.00000,0.0,0.000000,...,0.0,0.903090,0.845098,0.0,0.000000,0.0,0.0,0.0,0.000000,1
1,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.00000,0.0,0.000000,...,0.0,0.301030,0.477121,0.0,1.531479,0.0,0.0,0.0,0.000000,1
2,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.00000,0.0,0.000000,...,0.0,1.079181,1.397940,0.0,2.053078,0.0,0.0,0.0,0.477121,1
3,0.0,0.000000,0.0,0.0,0.0,3.200303,0.0,0.60206,0.0,1.079181,...,0.0,0.477121,0.903090,0.0,0.000000,0.0,0.0,0.0,0.301030,1
4,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.00000,0.0,0.000000,...,0.0,0.778151,0.602060,0.0,0.000000,0.0,0.0,0.0,0.000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,0.0,0.000000,0.0,0.0,0.0,1.591065,0.0,0.00000,0.0,0.000000,...,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,14
596,0.0,0.000000,0.0,0.0,0.0,0.301030,0.0,0.00000,0.0,0.000000,...,0.0,0.000000,0.000000,0.0,1.113943,0.0,0.0,0.0,0.000000,14
597,0.0,1.653213,0.0,0.0,0.0,2.648360,0.0,0.00000,0.0,0.845098,...,0.0,0.301030,0.000000,0.0,0.000000,0.0,0.0,0.0,0.301030,14
598,0.0,0.000000,0.0,0.0,0.0,0.845098,0.0,0.00000,0.0,0.000000,...,0.0,1.322219,1.146128,0.0,1.653213,0.0,0.0,0.0,0.000000,14
599,0.0,0.000000,0.0,0.0,0.0,0.602060,0.0,0.00000,0.0,0.000000,...,0.0,1.230449,1.000000,0.0,1.230449,0.0,0.0,0.0,0.000000,14

In [43]:
equal_samples_df.to_csv('/projects/genomic-ml/da2343/ml_project_1/data/microbe_ds/TwinsUK_sub_log_update.csv', index=False)